.work-sans{
font-family: "Work Sans", sans-serif;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
  /* margin: 0; */
}
ul, li{
  list-style: none;
}
ul, li, a{
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 18px;
  font-weight: 500;
}
ul{
  display: flex;
  gap: 30px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg-color{
  background-color:rgba(255, 144, 14, 0.1);
  
}
.banner, .nav{
  max-width: 1440px;
  margin: 0 auto;
}


/* banner */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner img{
  /* max-width: 1600px; */
  width: 100%;
  margin: 0 auto;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.btn-primary{
  background-color: #FF900E;
  color: rgba(255, 255, 255, 1.00);
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* responsive banner */
@media screen and (max-width: 576px)  {
  nav{
    flex-direction: column;
  }
  ul{
    flex-direction: column;
  }

  .brand {
    font-size: 2rem;
    text-align: center;
  }

  .banner-title {
    font-size: 2.5rem; 
  }

  .banner-content {
    padding: 0 15px;
  }
}


/* main section start here */
main{
  max-width: 1440px;
  margin: 0 auto;
}
.team{
  display: flex;
  align-items: center;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
main > section{
  margin-top: 130px;
}
.our-feature{
  margin-left: 130px;
  max-width: 537px;
  /* border: 1px solid black; */
}
#quick{
  color: #727272;
}
#our{
  color: #131313;
}
#feat{
  color: #FF900E;
}
.feature-description{
  font-weight: 400;
  font-size: 1rem;
  color: rgb(114, 114, 114);
}
.hide{
  display: none;
}



/* section team responsive */
@media screen and (max-width: 576px) {
  .team{
    flex-direction: column;
  }
  .team-img{
    grid-template-columns: 1fr;
    width: 100%;
    
    
    
    
  }
  .our-feature{
   margin-left: 0;
   width: 100%;
   /* border: 1px solid black; */
  }
  .team img{
    width: 100%;
  }
}
/* some facts */
.fact{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  /* padding: 45px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
}
.part{
  max-width: 540px;
}
/* responsive some facts for mobole device */
@media screen and (max-width:576px) {
  .fact-container{
    grid-template-columns: 1fr;
    max-width: none;
    width: 100%;

  }
  .part{
    max-width: none;
    width: 100%;
  }
  .fact{
    max-width: none;
    width: 100%;
  }

}
/* rersponsive for medium device */
@media screen  and (min-width:576px) and (max-width:992px) {
  .fact-container{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: none;
    gap: 20px;
  }
  .fact{
    max-width: none;
    width: 100%;
    
  }
}
/* sponsors */
.okay{
  margin: 0;
}
.sponsors{
  margin: 0 auto;
  max-width: 542px;
  text-align: center;
  
}
.feat{
  margin-bottom: 50px;
}
.icon{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.icon img{
  filter: grayscale(100%);
}
/* sponsors responsive for small device */
@media screen and (max-width:576px) {
  .sponsors{
    max-width: none;
    width: 100%;
  }
  .icon{
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
     
  }
}
/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .icon{
    grid-template-columns: repeat(3, 1fr);
  }
}

footer{
  background-color: #FFF4E7;
  height: 100px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 150px;
}
.foot{
  text-align: center;
  padding-top: 50px;
  
}
/* reponsive footer */
@media screen and (max-width:576px)  {
footer{
max-width: none;
width: 100%;
}
}




.sister-title{
 font-size: 45px;
 margin: 0; 
 max-width: 468px;
}
.div{
  max-width: 586px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
  
}
.love img{

}
.feature-details{
  display: flex;
  gap: 140px;
}
#haha{
  padding: 45px 42px;
  margin-left: -100px;
  margin-top: -100px;
}
#hehe{
  font-size: 4rem;
}